* {
	font-family: "Arial";
}

table,td,tr {
	border: solid black;
	border-color: black;
	border-spacing: 0px;
	border-width: 1px;
	text-align: center;
}

.top {
	height: 92px;
	width: 18px;
}

.side {
	width: 58px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-user-select: none;

	-webkit-user-drag: none;
}

.hid {
	display: none;
}

.unclicked {
	background-color: white;
}

.clicked {
	background-color: #564f67;
}

.right-clicked {
	background-color: #ababab;
}

.border {

	border: solid black;
	border-color: black;
	border-spacing: 0px;
	border-width: 1px;
	text-align: center;
	margin-right: 70%;
}