* {
	font-family: "Arial";
}

table,td,tr {
	border: solid black;
	border-color: black;
	border-spacing: 0px;
	border-width: 1px;
	text-align: center;
}

.newTop {
	height: 92px;
	width: 18px;
}

.newSide {
	width: 58px;
}

.hid {
	display: none;
}

.unclicked {
	background-color: white;
}

.clicked {
	background-color: #564f67;
}

.right-clicked {
	background-color: #ababab;
}

.border {

	border: solid black;
	border-color: black;
	border-spacing: 0px;
	border-width: 1px;
	text-align: center;
	margin-right: 70%;
}